// Neutral

$veryDarkCyan: hsl(183, 100%, 15%);
$darkGrayishCyan: hsl(186, 14%, 43%);
$darkGrayishCyan: hsl(184, 14%, 56%);
$lightgrayishCyan: hsl(185, 41%, 84%);
$lightgrayishCyan: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);